
.header.hcustom {
    background-color: transparent;
    border: none;
    box-shadow: none;
    z-index: 10;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 0px;
}

.header .header-icon {
font-size:16px !important;
}


.sdcustom.header-card.shape-rounded {
    border: none !important;
    border-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left:8px;
    margin-right:8px;
}
.sdcustom-small.header-card.shape-rounded {
    border: none !important;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left:8px;
    margin-right:8px;
}



.header.hcustom .header-title.mcustomsd {
    color: #ffffff !important;
    font-weight: 300;
}

.header.sigov .header-icon,
.header.hcustom  .header-icon{
    color: #E43256;
}

.card-bottom.news {
    left: 17px;
    right: 17px;
}
/* .header .header-title.mcustomsd {
    color: black !important;
} */

.bgsd-gradient {
    background: linear-gradient(to bottom right, #361928 0%, #141118 100%);
}

.bgsd-black{
    background-color: black;
}

.bgsd-white{
    background-color: white;
}

.bgsd-blue{
    background-color: #2D55CA;
}

.bgsd-blur-blue{
    background-color: #889AE0;
}

.bgsd-pink{
    background-color: #FD1049;
}

.bgsd-dark-red{
    background-color: #9B152F;
}

.bgsd-circleimg {
    background-image: url("../images/asset/circle-transparent.png");
    background-position:  200px -200px;
    background-repeat: no-repeat;
}
.bgsd-circleimg-small {
    background-image: url("../images/asset/circle-transparent-small.png");
    background-position:  -75px -20px;
    background-repeat: no-repeat;
}


.bgsdimg-1{
    background-image: url("../images/asset/Group\ 38.png");
}

.bgsdimg-2{
    background-image: url("../images/asset/Group\ 3.png");
}

.bgsdimg-3{
    background-image: url("../images/asset/Group\ 4.png");
}

.textsd-black{
    color: #000 !important;
}

.text-pinky {
    color: #E43256;
}

.sdcustom-btnicon {
    padding:5px 10px 5px 5px;
    display:block !important;
    padding-left: 80px !important;
    overflow: hidden;
    position: relative;
    color:#ffffff;
    border-radius:8px;
    min-height: 70px;
    margin-bottom:10px;
}

.sdcustom-btnicon span.icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 100%;
    color:#fff;
    font-size: 20px;
}
.sdcustom-btnicon span.text {
    line-height: 1.4em;
    min-height: 60px;
    font-size:16px
}